In [18]:
import pandas as pd

# 讀取 CSV 檔案並轉換為 DataFrame
df = pd.read_csv('qs20rank2324.csv')
print("23/24年世界排名前20的大學:")
display(df)
print()

# 將 DataFrame 轉換為 Set
top20_2023 = set(df['2023'])
top20_2024 = set(df['2024'])

# 聯集
union_set = top20_2023.union(top20_2024)
print("聯集:", union_set) # 所有學校

print()

# 交集
intersection_set = top20_2023.intersection(top20_2024)
print("交集:", intersection_set) # 穩定上榜

print()
# 差集
difference23_set = top20_2023.difference(top20_2024)
print("差集（23年榜上）:", difference23_set) # 23上榜24跌落神壇
difference24_set = top20_2024.difference(top20_2023)
print("差集（24年榜上）:", difference24_set) # 24年追上

23/24年世界排名前20的大學:

,2023,2024
0,Massachusetts Institute of Technology (MIT),Massachusetts Institute of Technology (MIT)
1,University of Cambridge,University of Cambridge
2,Stanford University,University of Oxford
3,University of Oxford,Harvard University
4,Harvard University,Stanford University
5,California Institute of Technology (Caltech),Imperial College London
6,Imperial College London,ETH Zurich - Swiss Federal Institute of Techno...
7,UCL,National University of Singapore (NUS)
8,ETH Zurich - Swiss Federal Institute of Techno...,UCL
9,University of Chicago,"University of California, Berkeley (UCB)"
10,National University of Singapore (NUS),University of Chicago
11,Peking University,University of Pennsylvania
12,University of Pennsylvania,Cornell University
13,Tsinghua University,The University of Melbourne
14,The University of Edinburgh,California Institute of Technology (Caltech)
15,EPFL – École polytechnique fédérale de Lausanne,Yale University
16,Princeton University,Peking University
17,Yale University,Princeton University
18,"Nanyang Technological University, Singapore (N...",The University of New South Wales (UNSW Sydney)
19,Cornell University,The University of Sydney

聯集: {'Princeton University', 'The University of New South Wales (UNSW Sydney)', 'University of Pennsylvania', 'Cornell University', 'The University of Edinburgh', 'UCL', 'University of Oxford', 'Harvard University', 'The University of Melbourne', 'University of California, Berkeley (UCB)', 'University of Chicago', 'EPFL – École polytechnique fédérale de Lausanne', 'Massachusetts Institute of Technology (MIT) ', 'Peking University', 'Yale University', 'National University of Singapore (NUS)', 'The University of Sydney', 'California Institute of Technology (Caltech)', 'Imperial College London', 'Nanyang Technological University, Singapore (NTU Singapore)', 'ETH Zurich - Swiss Federal Institute of Technology', 'Stanford University', 'University of Cambridge', 'Tsinghua University'}

交集: {'Princeton University', 'Massachusetts Institute of Technology (MIT) ', 'Peking University', 'California Institute of Technology (Caltech)', 'Imperial College London', 'Yale University', 'National University of Singapore (NUS)', 'UCL', 'University of Oxford', 'Harvard University', 'University of Pennsylvania', 'Cornell University', 'ETH Zurich - Swiss Federal Institute of Technology', 'Stanford University', 'University of Chicago', 'University of Cambridge'}

差集（23年榜上）: {'EPFL – École polytechnique fédérale de Lausanne', 'The University of Edinburgh', 'Tsinghua University', 'Nanyang Technological University, Singapore (NTU Singapore)'}
差集（24年榜上）: {'The University of New South Wales (UNSW Sydney)', 'The University of Melbourne', 'University of California, Berkeley (UCB)', 'The University of Sydney'}